.elementor-kit-29 {
  --e-global-color-primary: #32d2ff;
  --e-global-color-secondary: #393939;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-color-f23f758: #5176ff;
  --e-global-color-54ecd58: #ff51dc;
  --e-global-color-bed4006: #ffffff;
  --e-global-color-1b54896: #1e1e1e;
  --e-global-typography-primary-font-family: "Rowdies";
  --e-global-typography-primary-font-size: 64px;
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Poppins";
  --e-global-typography-secondary-font-size: 32px;
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Poppins";
  --e-global-typography-text-font-size: 16px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Kaushan Script";
  --e-global-typography-accent-font-size: 20px;
  --e-global-typography-accent-font-weight: 500;
  color: var(--e-global-color-bed4006);
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  background-color: var(--e-global-color-1b54896);
}
.elementor-kit-29 h1 {
  color: var(--e-global-color-bed4006);
  font-family: "Rowdies", Sans-serif;
  font-size: 64px;
}
.elementor-kit-29 h2 {
  color: var(--e-global-color-bed4006);
  font-family: "Rowdies", Sans-serif;
  font-size: 32px;
}
.elementor-kit-29 h3 {
  color: var(--e-global-color-bed4006);
  font-family: "Kaushan Script", Sans-serif;
  font-size: 20px;
}
.elementor-kit-29 button,
.elementor-kit-29 input[type="button"],
.elementor-kit-29 input[type="submit"],
.elementor-kit-29 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--e-global-color-bed4006);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 20px 10px 20px;
}
.elementor-kit-29 button:hover,
.elementor-kit-29 button:focus,
.elementor-kit-29 input[type="button"]:hover,
.elementor-kit-29 input[type="button"]:focus,
.elementor-kit-29 input[type="submit"]:hover,
.elementor-kit-29 input[type="submit"]:focus,
.elementor-kit-29 .elementor-button:hover,
.elementor-kit-29 .elementor-button:focus {
  background-color: var(--e-global-color-54ecd58);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-bed4006);
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  --kit-widget-spacing: 0px;
}
.elementor-element {
  --widgets-spacing: 0px 0px;
  --widgets-spacing-row: 0px;
  --widgets-spacing-column: 0px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
@media (max-width: 1024px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
